html body{
    background: #e3e3e3;
    margin: 0;
    padding: 0;
    height: 100%;
}

#links {
    background: #232323;
}

h1.subtitle {
    padding-top: 10px;
}

div>a.navbar-item{
    color : white;
}

.navbar {
    position: fixed !important; 
    top: 0;  
    left: 0; 
    right: 0;
    z-index: 2;
}

.navbar-burger{
    background: gray;
    height: 60px;
}

#logo{
    height: 60px;
}

nav>div.container {
    padding-top: 8px;
    width: 40%;
}

section>div.container.card {
    background: white;
}

section:nth-of-type(1){
    margin-top: 50px;
    padding-top: 250px;
}

section{
    margin-top: 50px;
    padding-top: 100px;
}

#profile-pic{
    margin: 0 auto ;
    margin-top:-11em; 
    max-width: 250px;
    min-width: 250px;
}

#intro{
    width : 50%;
    margin: 0 auto;
    text-align: justify;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
}

.padding {
    padding-bottom: 40px; 
    width: 50%;
    margin: 0 auto;
}
 
.level-item>a{
    width: 185px;
} 

/* SKILLS  SECTION */

#skills h1+div{
    margin-top: 40px;
}

.progress-bar{
    margin-top : 15px;
    margin-bottom: 20px;
    height: 5px;
    background: #d4d4d6;
}

.current-progress{
    height: 5px;
    background: #00d1b2;
    position: relative;
}

.current-progress .fa{
    margin-top: -6px;
    position: absolute;
    margin-left: 100%;
    color: #00d1b2;
}

.column>.fa-calendar-check-o{
    font-size: 3em;
    margin-left: 40%;
}

/* WORK EXPERIENCE SECTION */

.timeline ul li{
    list-style-type: none; 
    position: relative; 
    width: 6px;
    margin: 0 auto; 
    padding-top: 50px; 
    background: #fff;
    /* color : white; */
}

.timeline ul li div {
    position: relative;
    padding: 25px;
    bottom : 0;
    width: 400px;
    background: white;
    /* background: #F45B69; */
}

 .timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
} 

.timeline ul li:nth-child(odd) div {
  left: 50px;
}
 
 .timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0; 
  border-color: transparent white transparent transparent;  
   /* border-color: transparent #F45B69 transparent transparent;   */
} 

.timeline ul li:nth-child(even) div {
  left: -439px;    /*  -(Width + 39) */
}
 
.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent white;
  /* border-color: transparent transparent transparent #F45B69; */
}

 .timeline ul li::after{
    content: '';
    position: absolute; 
    left: 50%; 
    bottom: 0;
    transform: translateX(-50%); 
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: inherit;
} 

.timeline ul li::after {
  background: #fff;
  transition: background .5s ease-in-out; 
}
 
.timeline ul li.in-view::after {
  background: #00d1b2;
}
 
.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}
 
.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px,0,0);
}
 
.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px,0,0);
}
 
 .timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
} 

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px; /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
   
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
   
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
   
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent white transparent transparent;
  }
}

.anime-card {
    text-align: left;
}

.anime-card p{
    font-weight: bold;
}

.anime-card p.tenure {
    color: gray;
}
 
.title{
    font-weight: 500;
} 

.title span{
    margin-right: 30px;
}

/* Web development projects section  */
.project-img{
    padding: 20px;
}

/* Contact Section  */

#form{
    /* background: #333333; */
    background: white;
    padding-top: 30px;
    margin-top: 30px;
}

label {
    display: block;
    padding-top: 20px;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 18px;
    letter-spacing: 4px;
}

label .label-text{

    font-size : 20px;
    line-height: 20px;
    /* color: #9B9B9B; */
    color: black;
    cursor: text;
    text-transform: uppercase;
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
    transition: all 0.3s;
    text-align: left;
    margin-left: 10%;
}

label input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #4A4A4A;
  color: black;
  font-size: 36px;
  letter-spacing: -1px;
  outline: 0;
  padding: 5px 20px;
  text-align: left;
  /* width: 400px; */
  transition: all 0.3s;
  width: 80%;
}
/* label input:focus {
  width: 600px;
} */

.same-column{
    width : 92%;
}

div[name='full_name'], div[name='email']{
    margin-left: 4%;
}

label input:focus + .label-text{
    
    color: black;
    font-size: 13px;
    -moz-transform: translateY(-42px);
    -ms-transform: translateY(-42px);
    -webkit-transform: translateY(-42px);
    transform: translateY(-42px);
}

label input:valid + .label-text {
  font-size: 13px;
  -moz-transform: translateY(-74px);
  -ms-transform: translateY(-74px);
  -webkit-transform: translateY(-74px);
  transform: translateY(-74px);
}

#submit_btn {
    width: 200px;
}

#social_ntw {
    margin-top: 20px;
    margin-bottom: 30px;
}