html body{
    background: #e3e3e3;
    margin: 0;
    padding: 0;
    height: 100%;
}

#links {
    background: #232323;
}

h1.subtitle {
    padding-top: 10px;
}

div>a.navbar-item{
    color : white;
}

nav>div.container {
    padding-top: 8px;
    width: 40%;
}

section>div.container{
    background: white;
}

section{
    margin-top: 200px;
}

#profile-pic{
    /* border: 1px solid black; */
    margin-top:-120px;
    border-radius: 150px;
    height: 200px;
    width : 200px;
}
