html body{
    background: #e3e3e3;
    margin: 0;
    padding: 0;
    height: 100%;
}

#links {
    background: #232323;
}

h1.subtitle {
    padding-top: 10px;
}

div>a.navbar-item{
    color : white;
}

nav>div.container {
    padding-top: 8px;
    width: 40%;
}

section>div.container{
    background: white;
}

section:nth-of-type(1){
    margin-top: 200px;
}

section{
    margin-top: 120px;
}

#profile-pic{
    margin: 0 auto ;
    margin-top:-11em; 
}

#intro{
    width : 50%;
    margin: 0 auto;
    text-align: justify;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 20px;
}
